@charset "UTF-8";
/* CSS Document */
body {
    padding: 20vh 0 0 0;
    font-size: 15px;
}


#login input {
    width: 200px;
}
.dritto {
    display: block;
    margin: auto;
}

.errore {
    font-size: 15px;
    color: red;
}

#login {
    width: 20em;
    height: 20em;
    text-align: center;
    align-content: center;
    margin: auto;
    background-color: none;
    margin-top: 5vh;
    color: hsla(0, 0%, 47%, 1.00);
}

.input-form {
    width: 5em;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 2em;
    color: black;
    border-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.login-tasto {
    font-size: 0.9em;
    text-transform: uppercase;
    background-color: whitesmoke;
    color: gray;
    border-radius: 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.container-fluid {

    -ms-transition-duration: 700ms;
    -ms-transition-timing-function: ease-in-out;
}

input, select {
    margin-bottom: 1.4em;
}

input {
    color: rgba(0, 0, 0, 0.58);
    font-size: 14px;
    text-align: center;
}



/*-----------paragraph and header------------------*/
.box-gray-clienti p {
    font-size: 1.0em;
    font-weight: 800;
}
h1 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    letter-spacing: 0.05em;
    text-align: center;
}

h3 {
    font-size: 3em;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    letter-spacing: 0.05em;
    text-align: center;
}

h4 {
    font-size: 1.0em;
    font-family: 'Oxygen', serif;
    font-weight: 100;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1.8em;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 0.5em;
}



.titolo {
    font-size: 3em;
    color: black;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    font-family: 'Playfair Display', serif;
}

/*--------------------------------------------------*/
/*----------------------MENU-----------------------*/
a:link, a:visited, a:hover, a, a:link:active, a:visited:active {
    color: black;
    text-decoration: none;
    cursor: default;
    background-color: none;
}

nav {
    position: fixed;
    top: 1em;
    z-index: 20;
}

ol {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0 auto 0 16vw;

}

li {
    width: 200px;
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    font-weight: 300;
    display: inline;
    margin-left: 0.8em;
    border-radius: 20px;
    transition-property: background;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.menuli {
    float: left;
    display: inline;
}

.img-menu {
    width: 30px;
    height: 30px;
    position: fixed;
    left: 90vw;
    display: block;
    top: 1em;
}

.img-menu:hover {
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}

.menu-scomparsa {
    position: fixed;
    top: 0em;
    right: -55vw;
    width: 55vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.83);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1000ms;
    z-index: 100;
    color: white;
    align-content: center;
    float: none;
}

#img-close {
    width: 40px;
    height: 40px;
    margin: 1em auto;
}

.ol-scomparsa {
    align-content: center;
    text-align: center;
    margin: auto;
    z-index: 100;
}

#exit {
    width: 75vw;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#cart {
    background-image: url("kart.png");
    background-size: contain;
    width: 40px !important;
    height: 40px !important;
    margin-right: 5em;
    color: #20c997;
    padding: 5px 10px;
    font-size: 12px;
}


/*mobile*/
@media (max-width: 576px) {
    nav {
        margin-left: -20vw !important;
        margin-top: -5px !important;

    }

    li {
        width: 10px;
        margin: 0.2em !important;
    }

    ol {
        margin-left: -10em !important;
    }
}

/*tablet*/
@media (max-width: 1280px) {
    nav {
        margin: 0 0 0 0;
    }

    li {
        width: 90px;
        margin: 0.2em !important;
    }

    ol {
        margin-left: 1.5em !important;
    }
}

/*laptop*/
@media (max-width: 1800px) {
}

/*--------------------------------------------------*/
/*-----------------------ESPOSITORE------------------*/
#sezione-espositore {
    top: 1em;
    left: auto;
    z-index: 2;
    height: 100%;
    width: 99vw;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
    padding: 2vh 10vw 0em 10vw;
}

.img-ogg {
    width: 15em;
    height: 15em;
    margin: auto;
    padding: 0;
    z-index: inherit;
}

#sezione-espositore h2 {
    margin: auto;
}

#sezione-espositore button {
    text-align: center;
    padding: 5px;
}

/*mobile*/
@media (max-width: 576px) {
    #sezione-espositore {
        margin-top: 15vh;
        padding-left: 18vw;
    }
}

/*tablet*/
@media (max-width: 1280px) {
    #sezione-espositore {
        position: fixed;
        top: 4em;
        left: auto;
        right: auto;
        display: inline;

    }
}

/*laptop*/
@media (max-width: 1800px) {
}

/*--------------------------------------------------*/
/*-----------------------ACCOUNT------------------*/
#sezione-account {
    position: relative;
    height: 100vh;
    left: auto;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
    z-index: 2;
    margin: auto;
}

.box-gray-account {
    background-color: hsla(0, 0%, 38%, 0.20);
    height: 100%;
    margin: 1em auto;
    border-radius: 10px;
    color: black;
    padding: 1em;
    z-index: 2;
}

#sezione-account input {
    margin-bottom: 30px;
    text-align: center;
}

#sezione-account p {
    color: red;
}

#sezione-account h4 {
    margin-bottom: 10px;
}

#sezione-account h5 {
    margin-bottom: 40px;
}

/*mobile*/
@media (max-width: 576px) {

}

/*tablet*/
@media (max-width: 1280px) {
}

/*laptop*/
@media (max-width: 1800px) {
}

/*--------------------------------------------------*/
/*-----------------------CLIENTI------------------*/
.box-gray-clienti .row {
    margin-bottom: 1em;
    z-index: 2;
}

#sezione-clienti {
    position: absolute;
    top: 20vh;
    left: auto;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
    z-index: 2;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sezione-add-clienti {
    position: absolute;
    top: 20vh;
    left: 0em;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
    z-index: 2;
    overflow-y: hidden;
    overflow-x: hidden;

}

.box-gray-clienti {
    background-color: hsla(0, 0%, 38%, 0.20);
    width: 95vw;
    height: 100%;
    margin: 1em auto 1em auto;
    border-radius: 10px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    padding: 1em;
    text-align: left;
    z-index: 2;
    overflow: hidden;
}

.box-gray-clienti-add {
    background-color: hsla(0, 0%, 38%, 0.20);
    width: 95vw;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    padding: 2em;
    text-align: left;
    z-index: 2;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.back {
    margin: 0 0 3em 21em;
    z-index: 2;
}

.div-tasti {
    margin-top: 1em;
    z-index: 2;
}

.tasto-ins {
    margin-right: 3em;

    z-index: 2;
    width: 100px;
    height: 28px;
}

.tasto-canc {
    margin-right: 3em;
    z-index: 2;
}

#agg-cliente {
    margin-bottom: 2em;
    z-index: 2;
}

/*mobile*/
@media (max-width: 576px) {
}

/*tablet*/
@media (min-width: 1280px) {

}

/*laptop*/
@media (max-width: 1800px) {
}

/*--------------------------------------------------*/
/*-----------------------ORDINI------------------*/
#sezione-ordini {
    position: relative;
    top: 0em;
    left: 0em;
    z-index: 2;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
    z-index: 2;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sezione-crea-ordine {
    position: fixed;
    top: 10em;
    left: auto;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
    z-index: 2;
}

#sezione-ordini h4 {
    text-align: right;
}

#sezione-ordini p {
    text-align: left;
}

#crea-ordine {
    margin-bottom: 2em;
    z-index: 2;
}

#crea-ordine h2, h4, p {
    text-align: center;
}

.box-gray-ordini {
    background-color: hsla(0, 0%, 38%, 0.20);
    width: 90vw;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    z-index: 2;
    margin-bottom: 1.5em;
    padding: 0.9em;
}

.box-gray-ordini-crea {
    background-color: hsla(0, 0%, 38%, 0.20);
    width: 90vw;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    z-index: 2;
    padding: 0.9em;
}

.add {
    width: 50px;
    height: 50px;
    margin-bottom: 2em;
    z-index: 2;
}

.controls {
    position: absolute;
    right: 50px;
    top: 50px;
}

.controls input {
    width: 100px;
    height: 30px;
    position: relative;
    float: left;
    margin: 0.5em;
}

#modify {
    position: absolute;
    top: 0;
    left: -100px;
}

#delete {
    position: absolute;
    top: 70px;
    left: -100px;
}

.hidden {
    display: none;
}

#sezione-crea-ordine input, select {
    margin-bottom: 2em;
}


/*mobile*/
@media (max-width: 576px) {
}

/*tablet*/
@media (max-width: 1280px) {
}

/*laptop*/
@media (max-width: 1800px) {
}

/*--------------------------------------------------*/
/*-----------------------IPAD VIEW--------------------*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: portrait) {
}

/*--------------------------------------------------*/