<div id="target">
    <!--SEZIONE ACCOUNT-->
    <div id="sezione-account">
        <div class="row">
            <div class="col-1 col-md-2 col-lg-2"></div>

            <!--container per upload file -->
            <div class="col-10 col-md-8 col-lg-8 box-gray-account">
                <form enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 ">
                            <h5 class="dritto">Crea nuovo espositore</h5>
                            <h4 class="dritto">Inserisci Brand</h4>
                            <input class="dritto" type="text" name="brand" value="inserisci brand">
                            <h4 class="dritto">Inserisci Categoria</h4>
                            <input class="dritto" type="text" name="album" value="inserisci categoria">
                            <input class="dritto" type="file" name="file" multiple>
                            <input class="dritto" type="submit" value="Upload">
                        </div>
                    </div>
                </form>
            </div>
            <!--fine container per upload file -->
            <div class="col-1 col-md-2 col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-1 col-md-2 col-lg-2"></div>

            <!--container per creare utenti -->
            <div class="col-10 col-md-8 col-lg-8 box-gray-account">
                <form method="POST" action="{{ url_for("create_credentials") }}">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 ">
                            <h5 class="dritto">Crea credenziali </h5>

                            <select style="text-align: center;margin-bottom: 30px" class="dritto" name="tipo-azione">
                                <option value="scegli">scegli</option>
                                <option onclick="http('/switch_modifica_crea','target1','new-utente')"
                                        value="nuovo-utente">crea nuovo utente
                                </option>
                                <option onclick="http('/switch_modifica_crea','target1','modify-utente')"
                                        value="modifica-utente">modifica utente
                                </option>
                            </select>
                            <div id="target1"></div>

                        </div>
                    </div>
                </form>
            </div>
            <!--fine container -->
            <div class="col-1 col-md-2 col-lg-2"></div>
        </div>


    </div>
    <!--FINE SEZIONE ACCOUNT-->
</div>
