<div id="target">
    <!--SEZIONE ACCOUNT-->
    <div id="sezione-account">
        <div class="row">
            <div class="col-1 col-md-2 col-lg-2"></div>

            <!--container per upload file -->
            <div class="col-10 col-md-8 col-lg-8 box-gray-account">
                <form enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 ">
                            <h5 class="dritto">Crea nuovo espositore</h5>
                            <h4 class="dritto">Inserisci Brand</h4>
                            <input class="dritto" type="text" name="brand" value="">
                            <h4 class="dritto">Inserisci Categoria</h4>
                            <input class="dritto" type="text" name="album" value="">
                            <input class="dritto" type="file" name="file" multiple>
                            <input class="dritto" type="submit" value="Upload">
                        </div>
                    </div>
                </form>
            </div>
            <!--fine container per upload file -->
            <div class="col-1 col-md-2 col-lg-2"></div>
        </div>

        <!--container modifica oggetti -->
        <div class="row">
            <div class="col-1 col-md-2 col-lg-2"></div>

            <div class="col-10 col-md-8 col-lg-8 box-gray-account">
                <form enctype="multipart/form-data" method="post" action="{{ url_for('modifica_oggetto') }}">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 ">
                            <h5 class="dritto">Modifica gioiello</h5>
                            <h4 class="dritto">Inserisci codice </h4>
                            <input class="dritto" type="text" name="codice" value="">
                            <input class="dritto" type="submit" value="Ricerca">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1 col-md-2 col-lg-2"></div>
        </div>
        <!--fine container -->

        <!--container per creare utenti -->
        <div class="row">
            <div class="col-1 col-md-2 col-lg-2"></div>


            <div class="col-10 col-md-8 col-lg-8 box-gray-account">
                <form method="POST" action="{{ url_for("create_credentials") }}">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 ">
                            <h5 class="dritto">Crea credenziali </h5>

                            <select style="text-align: center;margin-bottom: 30px" class="dritto" name="tipo-azione">
                                <option value="scegli">scegli</option>
                                <option onclick="http('/switch_modifica_crea','target1','new-utente')"
                                        value="nuovo-utente">crea nuovo utente
                                </option>
                                <option onclick="http('/switch_modifica_crea','target1','modify-utente')"
                                        value="modifica-utente">modifica utente
                                </option>
                            </select>
                            <div id="target1"></div>

                        </div>
                    </div>
                </form>
            </div>
            <!--fine container -->
            <div class="col-1 col-md-2 col-lg-2"></div>
        </div>

        <!--container per gestire utenti -->
        <div class="row">
            <div class="col-1 col-md-2 col-lg-2"></div>


            <div class="col-10 col-md-8 col-lg-8 box-gray-account">
                <form method="POST" action="{{ url_for("create_credentials") }}">
                    <div class="row">
                        <div class="col-3 col-md-3 col-lg-3 "></div>
                        <div class="col-6 col-md-6 col-lg-6 " id="box-cta-utenti">
                            <h5 class="dritto">Utenti registrati </h5>
                            {% for i in utenti %}
                                <div class="row" id="box-cta-utenti">
                                    <div class="col-6 col-md-6 col-lg-6">
                                        {% if i.poteri == 1 %}
                                            <h11 style="color: red">{{ i.email }}</h11>
                                        {% else %}
                                            <h11 style="color: dodgerblue">{{ i.email }}</h11>
                                        {% endif %}
                                    </div>
                                    <div class="col-1 col-md-1 col-lg-1"></div>
                                    <div class="col-5 col-md-5 col-lg-5">
                                        {% if i.approvato == 0 %}
                                            <button class="col-6 col-md-5 col-lg-5"
                                                    onclick="http('/approva_utente','target','{{ i.email }}')"
                                                    id="cta-utenti" style="color: green">Abilita
                                            </button>
                                        {% else %}
                                            <button id="cta-utenti" class="col-6 col-md-5 col-lg-5"
                                                    onclick="http('/approva_utente','target','{{ i.email }}')"
                                                    id="cta-utenti" style="color: red">Disabilita
                                            </button>
                                        {% endif %}
                                        <div class="col-auto col-md-auto col-lg-auto"></div>
                                        <button id="cta-utenti" class="col-6 col-md-5 col-lg-5"
                                                onclick="http('/rimuovi_utente','target','{{ i.email }}')"
                                                id="cta-utenti" style="color: red">Rimuovi
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-3 col-md-3 col-lg-3 "></div>

                    </div>
                </form>
            </div>
            <!--fine container -->
            <div class="col-1 col-md-2 col-lg-2"></div>
        </div>


    </div>
    <!--FINE SEZIONE ACCOUNT-->
</div>
