<div id="target">
    <div class="row" id="sezione-espositore" style="width: 95vw;height: 100%">
        <div class="row">
            <div class="row" style="width: 100%">
                <div class="row" style="width: 100%">
                    <div class="col-2 "></div>
                    <div class="col-10 ">

                        <h9 onclick="http('/routing','target','espositore')">Espositore -></h9>

                        <h3 class="dritto" style="text-transform: uppercase">{{ brand.nome }}</h3>
                    </div>


                </div>


                <div class="row" style="width: 100%">
                    {% for i in brand.categorie %}
                        <div class="col-1 col-md-1 col-lg-1"></div>
                        <div class="col-3 col-md-4 col-lg-4">
                            <h2 class="dritto" style="text-transform: uppercase">{{ i.nome }}</h2>
                            <img class="dritto" height="200px" width="200px"
                                 src="{{ url_for("static",filename=i.img) }}"
                                 onclick="http('/categoria','target','{{ i.unicode }}')">
                        </div>
                        <div class="col-1 col-md-1 col-lg-1"></div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>

</div>



