<div id="target">
    <div class="row" id="sezione-espositore" style="width: 95vw;height: 100%">
        <div class="row">
            <div class="row" style="width: 100%">
                <div class="row" style="width: 100%">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h3 class="dritto" style="text-transform: uppercase">{{ album[0]["brand"] }}</h3>
                    </div>
                    <div class="col-4"></div>

                </div>

                {% for i in album[0]["categorie"] %}
                    <div class="row" style="width: 100%">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <h2 class="dritto" style="text-transform: uppercase">{{ i }}</h2>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row" style="width: 100%">
                        {% for c in album[0][i] %}
                            <div id="1" class="col-10 col-md-3 col-lg-3" style="margin-bottom: 50px;width: 100%">
                                <img style="width: 100%" class="col-12" height="200px" width="200px"
                                     src="{{ url_for("static",filename=c["immagine"]) }}"
                                     onclick="http('/view_img','target','{{ c["immagine"] }}')">

                                <input class="hidden" type="text" name="nome_file" value="{{ i }}">

                                <h2 id="codice" class="col-12">COD {{ c["codice"] }}</h2>


                                <h2 id="prezzo" class="col-12">prezzo:{{ c["prezzo"] }}</h2>
                                <div class="col-12">
                                    <div class="row" style="margin: 10px 0 20px 0;">

                                        <button class="dritto" onclick="http_cart('/add_to_cart')">
                                            Aggiungi all'ordine
                                        </button>
                                        <input id="quantita" style="text-align: center;margin-top: 20px" class="dritto"
                                               name="quantity" value="1">


                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3"></div>
                                        <button class="col-6"
                                                onclick="http_cart('/remove_from_cart','{{ c["codice"] }}','{{ c["prezzo"] }}')">
                                            Rimuovi
                                        </button>
                                        <div class="col-3"></div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>



