<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i|Libre+Caslon+Display|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>No Igual</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'bootstrap-4.3.1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'main.css') }}" rel="stylesheet">

</head>
<body>
<div class="container-fluid" id="scrolldown">
    <nav id="nav">
        <ol>
            <div class="menuli" id="cart" onclick="http('/routing','target','crea_ordine')">€</div>
            <li class="menuli" id="clienti" onclick="http('/routing','target','clienti')">Clienti</li>
            <li class="menuli" id="ordini" onclick="http('/routing','target','ordini')">Ordini</li>
            <li class="menuli" id="espositore" onclick="http('/routing','target','espositore')">Espositore</li>
            <li class="menuli" id="account" onclick="http('/routing','target','account')">Account</li>
        </ol>
        <img id="hamburgher" class="img-menu" src="{{ url_for('static',filename='Artboard 8.png') }}"
             width="130" height="106" alt=""/>
        <div class="menu-scomparsa" id="menu-scomp">
            <div class="row"><img id="img-close" src="{{ url_for('static',filename='Artboard 9.png') }}"
                                  width="216" height="212" alt=""/></div>
            <div class="row">
                <ol class="ol-scomparsa">
                    <li>Log Out</li>
                </ol>
            </div>
        </div>
        <div id="exit"></div>
    </nav>
{% block body %}

{% endblock %}
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static',filename='jquery-3.3.1.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static',filename='popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-4.3.1.js') }}"></script>
<script src="{{ url_for('static', filename = 'effect.js') }}"></script>


</body>
</html>