<div id="target">
    <!--SEZIONE CLIENTI-->
    <div id="sezione-clienti">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2" style="align-content:center">
                <button id="agg-cliente" onclick="http('/routing','target','aggiungi_cliente')">Aggiungi nuovo cliente
                </button>
            </div>
            <div class="col-5"></div>
        </div>
        {% if clienti== "none" %}
            <p>none</p>
        {% else %}
            {% for i in clienti %}
                <div class="col-md-10 box-gray-clienti">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <h4 class="col-6">Nome</h4>
                                <p class="col-6">{{ i["nome"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Cognome</h4>
                                <p class="col-6">{{ i["cognome"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Ragione sociale</h4>
                                <p class="col-6">{{ i["ragione_sociale"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Via</h4>
                                <p class="col-6">{{ i["via"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">CAP</h4>
                                <p class="col-6">{{ i["cap"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Città</h4>
                                <p class="col-6">{{ i["citta"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Provincia</h4>
                                <p class="col-6">{{ i["provincia"] }}</p>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="row">
                                <h4 class="col-6">Partita IVA</h4>
                                <p class="col-6">{{ i["partita_iva"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Codice Fiscale</h4>
                                <p class="col-6">{{ i["codice_fiscale"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Codice SDI</h4>
                                <p class="col-6">{{ i["ragione_sdi"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Email</h4>
                                <p class="col-6">{{ i["email"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Telefono</h4>
                                <p class="col-6">{{ i["telefono"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Banca</h4>
                                <p class="col-6">{{ i["banca"] }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-6">Iban</h4>
                                <p class="col-6">{{ i["iban"] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!--FINE SEZIONE CLIENTI-->
</div>

