<div id="target">
    <!--SEZIONE CLIENTI-->
    <div id="sezione-clienti">
        <div class="row">
            <div class="col-5 col-md-5 col-lg-5"></div>
            <div class="col-2 col-md-2 col-lg-2" style="align-content:center">
                <button class="dritto" id="agg-cliente" onclick="http('/routing','target','aggiungi_cliente')">Aggiungi
                    nuovo cliente
                </button>
                <button class="dritto" id="agg-cliente" onclick="http('/routing','target','rimuovi_cliente')">Rimuovi
                    cliente
                </button>
            </div>
            <div class="col-5 col-md-5 col-lg-5"></div>
        </div>
        {% if clienti== "none" %}
            <p>none</p>
        {% else %}
            {% for i in clienti %}
                <div class="col-md-10 box-gray-clienti">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <h4 class="col-4">Nome</h4>
                                <p class="col-4">{{ i.nome }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Cognome</h4>
                                <p class="col-4">{{ i.cognome }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Ragione sociale</h4>
                                <p class="col-4">{{ i.ragione_sociale }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Via</h4>
                                <p class="col-4">{{ i.via }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">CAP</h4>
                                <p class="col-4">{{ i.cap }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Città</h4>
                                <p class="col-4">{{ i.citta }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Provincia</h4>
                                <p class="col-4">{{ i.provincia }}</p>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="row">
                                <h4 class="col-4">Partita IVA</h4>
                                <p class="col-4">{{ i.partita_iva }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Codice Fiscale</h4>
                                <p class="col-4">{{ i.codice_fiscale }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Codice SDI</h4>
                                <p class="col-4">{{ i.codice_sdi }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Email</h4>
                                <p class="col-4">{{ i.email }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">PEC</h4>
                                <p class="col-4">{{ i.email_pec }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Telefono</h4>
                                <p class="col-4">{{ i.telefono }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Banca</h4>
                                <p class="col-4">{{ i.banca }}</p>
                            </div>
                            <div class="row">
                                <h4 class="col-4">Iban</h4>
                                <p class="col-4">{{ i.iban }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!--FINE SEZIONE CLIENTI-->
</div>

