<div id="target">
    <!--SEZIONE CREAZIONE utente-->
    <form id="sezione-crea-ordine" method="post" action="{{ url_for('adding_orders') }}">
        <div class="col-md-8 box-gray-ordini-crea">
            <div class="row">
                <div class="col-12">
                    <input class="hidden" name="tipo" value="new" type="text">
                    <h4 class="col-6">Cliente </h4>
                    <select name="ragione_sociale">
                        {% if clienti %}
                            {% for d in clienti %}
                                <option value="{{ d["ragione_sociale"] }}">{{ d["ragione_sociale"] }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="empty"></option>
                        {% endif %}
                    </select>

                    <h4 class="col-6">Pagamento</h4>
                    <select name="pagamento">
                        <option value="riba">RIBA</option>
                        <option value="rid">RID</option>
                        <option value="rimessa diretta">Rimessa diretta</option>
                        <option value="contrassegno">Contrassegno</option>
                        <option value="bonifico">Bonifico</option>
                        <option value="assegno">Assegno</option>
                    </select>

                    <h4 class="col-6">Data:</h4>
                    <input type="date" name="data" class="col-6">
                </div>

                <div class="col-12">
                    <h4 class="col-6">Codici articoli:</h4>
                    <p class="col-6">prova</p>
                    <p class="col-6"></p>
                    <p class="col-6">prova</p>
                </div>
            </div>
        </div>
        <div class="row div-tasti">
            <button class="tasto-canc" id="indietro-ordine"> indietro</button>
            <button class="tasto-ins" type="submit">crea</button>
        </div>
    </form>
    <!--FINE SEZIONE CREAZIONE utente-->
</div>
