{% extends "base.html" %}
{% block body %}
    <nav id="nav">
        <a>
            <li class="menuli" id="clienti">Clienti</li>
            <li class="menuli" id="ordini">Ordini</li>
            <li class="menuli" id="espositore">Espositore</li>
            <li class="menuli" id="account">Account</li>
            </ol>
            <img id="hamburgher" class="img-menu" src="{{ url_for('static',filename='Artboard 8.png') }}"
                 width="130" height="106" alt=""/>
            <div class="menu-scomparsa" id="menu-scomp">
                <div class="row"><img id="img-close" src="{{ url_for('static',filename='Artboard 9.png') }}"
                                      width="216" height="212" alt=""/></div>
                <div class="row">
                    <ol class="ol-scomparsa">
                        <li>Log Out</li>
                    </ol>
                </div>
            </div>
            <div id="exit"></div>
    </nav>
    <div class="container-fluid">

        <!--SEZIONE ESPOSITORE-->
        <div class="row" id="sezione-espositore">


            <div class="row">
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-3">
                        <h2>Lorem Ipsum</h2>
                        <img class="img-ogg" src="{{ url_for('static',filename='140X140.gif') }}" width="140"
                             height="140"
                             alt=""/>
                    </div>
            <div class="col-1"></div>
            <div class="col-md-3">
                <h2>Lorem Ipsum</h2>
                <img class="img-ogg" src="{{ url_for('static',filename='140X140.gif') }}" width="140" height="140"
                     alt=""/></div>
            <div class="col-1"></div>
            <div class="col-md-3">
                <h2>Lorem Ipsum</h2>
                <img class="img-ogg" src="{{ url_for('static',filename='140X140.gif') }}" width="140" height="140"
                     alt=""/></div>
            <div class="col-1"></div>
                </div>

            </div>


        </div>


        <!--FINE SEZXIONE ESPOSITORE-->

        <!--SEZIONE ORDINI-->
        <div id="sezione-ordini">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2" style="align-content:center">

                    <button id="crea-ordine">Crea nuovo ordine</button>
                </div>
                <div class="col-5"></div>
            </div>
            <div class="row">
                {% for i in ordini %}
                    {% if i== none %}
                        <div style="height: 100px;width: 100px" class="box-gray-ordini"><p>Empty</p></div>
                    {% else %}
                        <div class="col-md-8 box-gray-ordini" method="post">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <h4 class="col-6">Ordine numero:</h4>
                                        <p class="col-6">{{ i["ordine_numero"] }}</p>


                                    </div>
                                    <div class="row">
                                        <h4 class="col-6">Codice Cliente:</h4>
                                        <p class="col-6">{{ i["codice_cliente"] }}</p>
                                    </div>
                                    <div class="row">
                                        <h4 class="col-6">Ragione Sociale:</h4>
                                        <p class="col-6">{{ i["ragione_sociale"] }}</p>
                                    </div>
                                    <div class="row">
                                        <h4 class="col-6">Pagamento:</h4>
                                        <p class="col-6">{{ i["pagamento"] }}</p>
                                    </div>
                                    <div class="row">
                                        <h4 class="col-6">Data:</h4>
                                        <p class="col-6">{{ i["data"] }}</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <h4 class="col-6">Codici articoli:</h4>
                                        <p class="col-6"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="controls">
                                    <form method="post" action="{{ url_for('modifica_ordine') }}">
                                        <input class="col-6 hidden" name="ordine_numero" type="text"
                                               value="{{ i["ordine_numero"] }}">
                                        <input id="modify" type="submit" value="modify">
                                    </form>
                                    <form method="post" action="{{ url_for('elimina_ordine') }}">
                                        <input class="col-6 hidden" name="ordine_numero" type="text"
                                               value="{{ i["ordine_numero"] }}">
                                        <input id="delete" type="submit" value="delete">
                                    </form>


                                </div>
                                <input class="hidden" type="text" name="ordine_numero" value="{{ i[0] }}">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--FINE SEZIONE ORDINI-->

        <!--SEZIONE CREAZIONE ORDINE-->
        <form id="sezione-crea-ordine" method="post" action="{{ url_for('adding_orders') }}">
            <div class="col-md-8 box-gray-ordini-crea">
                <div class="row">
                    <div class="col-12">
                        <input class="hidden" name="tipo" value="new" type="text">
                        <h4 class="col-6">Cliente </h4>
                        <select name="ragione_sociale">
                            {% if clienti %}
                                {% for d in clienti %}
                                    <option value="{{ d["ragione_sociale"] }}">{{ d["ragione_sociale"] }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="empty"></option>
                            {% endif %}
                        </select>

                        <h4 class="col-6">Pagamento</h4>
                        <select name="pagamento">
                            <option value="riba">RIBA</option>
                            <option value="rid">RID</option>
                            <option value="rimessa diretta">Rimessa diretta</option>
                            <option value="contrassegno">Contrassegno</option>
                            <option value="bonifico">Bonifico</option>
                            <option value="assegno">Assegno</option>
                        </select>

                        <h4 class="col-6">Data:</h4>
                        <input type="date" name="data" class="col-6">
                    </div>

                    <div class="col-12">
                        <h4 class="col-6">Codici articoli:</h4>
                        <p class="col-6">prova</p>
                        <p class="col-6"></p>
                        <p class="col-6">prova</p>
                    </div>
                </div>
            </div>
            <div class="row div-tasti">
                <button class="tasto-canc" id="indietro-ordine"> indietro</button>
                <button class="tasto-ins" type="submit">crea</button>
            </div>
        </form>
        <!--FINE SEZIONE CREAZIONE ORDINE-->

        <!--SEZIONE ACCOUNT-->
        <div class="row" id="sezione-account">
            <div class="row">
                <div class="col-md-8 box-gray-account">
                    <div class="row">
                        <form enctype=multipart/form-data action="{{ url_for('upload_file') }}">
                            <div class="col-4"></div>
                            <div class="col-4">

                                <input type="file" style="z-index: 200">
                                <input type="submit" value="Inserisci">
                            </div>
                            <div class="col-4"></div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>

        </div>
        <!--FINE SEZIONE ACCOUNT-->

        <!--SEZIONE CLIENTI-->
        <div id="sezione-clienti">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2" style="align-content:center">
                    <button id="agg-cliente">Aggiungi nuovo cliente</button>
                </div>
                <div class="col-5"></div>
            </div>
            {% if clienti== "none" %}
                <p>none</p>
            {% else %}
                {% for i in clienti %}
                    <div class="col-md-10 box-gray-clienti">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <h4 class="col-6">Nome</h4>
                                    <p class="col-6">{{ i["nome"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Cognome</h4>
                                    <p class="col-6">{{ i["cognome"] }}</p>
                        </div>
                                <div class="row">
                                    <h4 class="col-6">Ragione sociale</h4>
                                    <p class="col-6">{{ i["ragione_sociale"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Via</h4>
                                    <p class="col-6">{{ i["via"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">CAP</h4>
                                    <p class="col-6">{{ i["cap"] }}</p>
                        </div>
                                <div class="row">
                                    <h4 class="col-6">Città</h4>
                                    <p class="col-6">{{ i["citta"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Provincia</h4>
                                    <p class="col-6">{{ i["provincia"] }}</p>
                        </div>

                    </div>
                            <div class="col-6">
                                <div class="row">
                                    <h4 class="col-6">Partita IVA</h4>
                                    <p class="col-6">{{ i["partita_iva"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Codice Fiscale</h4>
                                    <p class="col-6">{{ i["codice_fiscale"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Codice SDI</h4>
                                    <p class="col-6">{{ i["ragione_sdi"] }}</p>
                        </div>
                                <div class="row">
                                    <h4 class="col-6">Email</h4>
                                    <p class="col-6">{{ i["email"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Telefono</h4>
                                    <p class="col-6">{{ i["telefono"] }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Banca</h4>
                                    <p class="col-6">{{ i["banca"] }}</p>
                        </div>
                                <div class="row">
                                    <h4 class="col-6">Iban</h4>
                                    <p class="col-6">{{ i["iban"] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!--FINE SEZIONE CLIENTI-->

        <!--SEZIONE aggiunta cliente-->
        <div id="sezione-add-clienti">
            <form method="post" action="{{ url_for('adding_customer') }}">
                <div class="col-md-10 box-gray-clienti-add">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="col-6">Nome</h4>
                            <input name="nome" type="text">
                            <h4 class="col-6">cognome</h4>
                            <input name="cognome" type="text">
                            <h4 class="col-6">ragione sociale</h4>
                            <input name="ragione_sociale" type="text">
                            <h4 class="col-6">via</h4>
                            <input name="via" type="text">
                            <h4 class="col-6">cap</h4>
                            <input name="cap" type="text">
                            <h4 class="col-6">città</h4>
                            <input name="città" type="text">
                            <h4 class="col-6">provincia</h4>
                            <input name="provincia" type="text">
                    </div>
                        <div class="col-6">
                            <h4 class="col-6">Partita Iva</h4>
                            <input name="partita_iva" type="text">
                            <h4 class="col-6">codice fiscale</h4>
                            <input name="codice_fiscale" type="text">
                            <h4 class="col-6">codice SDI</h4>
                            <input name="codice_sdi" type="text">
                            <h4 class="col-6">Email</h4>
                            <input name="email" type="text">
                            <h4 class="col-6">Telefono</h4>
                            <input name="telefono" type="text">
                            <h4 class="col-6">Banca</h4>
                            <input name="banca" type="text">
                            <h4 class="col-6">Iban</h4>
                            <input name="iban" type="text">
                        </div>
                    </div>
                </div>
            <div class="row div-tasti">
                <button class="tasto-canc" id="indietro-cliente"> indietro</button>
                <input type="submit" value="Inserisci">
            </div>
            </form>
        </div>
        <!--FINE SEZIONE aggiunta CLIENTI-->

    </div>
{% endblock %}