
<div id="target">

    <!--SEZIONE modifica ORDINE-->
    <div id="sezione-crea-ordine" style="left: 0;">
            <div class="col-md-8 box-gray-ordini-crea">
                <div class="row">
                    <div class="col-12">
                        <input class="hidden" name="tipo" value="update" type="text">

                        <input class="col-6 hidden" name="ordine_numero" type="text"
                               value="{{ ordine["ordine_numero"] }}">

                        <h4 class="col-6">Ragione sociale </h4>
                        <input class="col-6" name="nome_cliente" type="text" value="{{ ordine["ragione_sociale"] }}">

                        <h4 class="col-6">Codice Cliente:</h4>
                        <input type="text" name="codice_cliente" class="col-6" value="{{ ordine["codice_cliente"] }}">

                        <h4 class="col-6">Pagamento</h4>
                        <input type="text" name="pagamento" class="col-6" value="{{ ordine["pagamento"] }}">

                        <h4 class="col-6">Data:</h4>
                        <input type="date" name="data" class="col-6" value="{{ ordine["data"] }}">
                    </div>

                    <div class="col-12">
                        <h4 class="col-6">Codici articoli:</h4>
                        {% for i in ordine["carrello"] %}
                            <p class="col-2">{{ i }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row div-tasti">
                <button class="tasto-ins" onclick="http('/routing','target','ordini')">annulla</button>
                <button class="tasto-ins" onclick="http('/routing','target','!modifica_ordine')">conferma</button>
            </div>
    </div>
    <!--FINE SEZIONE modifica ORDINE-->


</div>
