<div id="target">
    <!--SEZIONE ORDINI-->
    <div id="sezione-ordini">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2" style="align-content:center">

                <button id="crea-ordine" onclick="http('/routing','target','crea_ordine')">Crea nuovo ordine</button>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row">
            {% for i in ordini %}
                {% if i== none %}
                    <div style="height: 100px;width: 100px" class="box-gray-ordini"><p>Empty</p></div>
                {% else %}
                    <div class="col-md-8 box-gray-ordini" method="post">
                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <h4 class="col-6">Ordine numero:</h4>
                                    <p class="col-6">{{ i.codice }}</p>


                                </div>
                                <div class="row">
                                    <h4 class="col-6">Ordinato da:</h4>
                                    <p class="col-6">{{ i.cliente }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Tipo pagamento:</h4>
                                    <p class="col-6">{{ i.pagamento }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Data consegna prevista:</h4>
                                    <p class="col-6">{{ i.data_consegna }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Data crezione:</h4>
                                    <p class="col-6">{{ i.data_esecuzione }}</p>
                                </div>
                                <div class="row">
                                    <h4 class="col-6">Totale:</h4>
                                    <p class="col-6">{{ i.totale }}</p>
                                </div>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col-5 col-md-5 col-lg-5">
                                            <h4 class=" dritto">Codici articoli:</h4>
                                        </div>
                                        <div class="col-7 col-md-7 col-lg7"></div>
                                    </div>

                                    {% for c in i.carrello %}
                                        <div class="col-1 col-md-1 col-lg-1"></div>
                                        <p class="col-2 col-md-3 col-lg-3"><b>{{ c.codice_barre }}</b>
                                            (x{{ c.quantita }})</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="controls">
                                <button id="modify"
                                        onclick="http('/modifica_ordine','target',{{ i.codice }})"> Modifica
                                </button>
                                <button id="delete" onclick="http('/elimina_ordine','target',{{ i.codice }})">
                                    Elimina
                                </button>
                                <a href="{{ url_for("static",filename=i.codice) }}.pdf" download>
                                    <button id="stampa">Salva</button>
                                </a>
                                <button id="invia" onclick="http('/invia_email_cliente','target',{{ i.codice }})">
                                    Invia
                                </button>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--FINE SEZIONE ORDINI-->
</div>
